# {{ ansible_managed }}
[global]
  workgroup = {{ samba_workgroup }}
{% if samba_role == "member" %}
  realm = {{ samba_realm }}
  security = ADS
{% endif %}
{% for key, value in samba_global.items() %}
{% if not ((key == "security" or key == "realm") and samba_role == "member") %}
  {{ key }} = {{ value }}
{% endif %}
{% endfor %}
{% if samba_share_printers %}

  printing = cups
  printcap name = cups
  load printers = yes
  cups options = raw
{% endif %}
{% if samba_share_homes %}

[homes]
  comment = Home Directories
  valid users = %S, %D%w%S
  browseable = No
  read only = No
  inherit acls = Yes
{% endif %}
{% if samba_share_printers %}

[printers]
  comment = All Printers
  path = /var/tmp
  printable = Yes
  create mask = 0600
  browseable = No

[print$]
  comment = Printer Drivers
  path = /var/lib/samba/drivers
  write list = root
  create mask = 0664
  directory mask = 0775
{% endif %}
{% for name, options in samba_shares.items() %}

[{{ name }}]
{% for key, value in options.items() %}
  {{ key }} = {{ value }}
{% endfor %}
{% endfor %}
